<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Marouane Hmidi**

I am currenty a renewable energies student.

*I am interested in data science because I am fascinated by how it can be a convincing tool to change someone's mind using stories extracted from data*

### My code shows all pair numbers between 0 and 99

In [9]:
for i in range(0,99,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

**Fruits:**
 * Apple
 * Orange
 * Grape
 * Banana
 
**Top 3 countries per population**

1. China
2. USA
3. Indonesia
 
the USA is about <font color=red>32.5</font> times the size of Italy